* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

:root {
    --primary-color: white;
}

.dark {
    --primary-color: black;
}

/* ========= Cabeçalho =========  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 5.4375rem;
    padding-right: 5.4375rem;
    box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.2);
}

li {
    list-style: none;
}

ul {
    display: flex;
}

body {
    background-color: var(--primary-color);
}

.mode-container {
    /* width: 300px;
    height: 50px; */
    background-color: #202020;
    display: flex;
   
}

input {
    display: none;
}

label {
    width: 30px;
    height: 50px;
    background-color: red;
    cursor: pointer;
    display: block;
   
}

.mode-selector {
    /* width: 40px;
    height: 20px; */
    border-radius: 5px;
    color: black;
    
}

.navigation {
    width: 31.25rem;
}

.brand {
    color: #202020;
    margin-right: 3.125rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.125rem;
}

.sections a { 
    color: #0065FF;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-left: 1.25rem;
    font-size: 1rem;
}


.navigation, .sections, .socials {
    display: flex;
    color: blue;
}
 
/* =========== Apresentação ========= */

.conteudo-container-geral, .experiencias-container {
    border: .0625rem solid black;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-container {
    width: 60.125rem;
    flex-wrap: wrap;
}

.introducao, .experiencies {
    border: .0625rem solid red;
    width: 60.125rem;
    margin: 4rem;
}

.foto-container {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color: #E5E5E5;
    box-shadow: 0 1.25rem 2.5rem 0 rgb(0,0,0, 0.2);
    margin-bottom: 4rem;
}

.foto {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color: #E5E5E5;
    box-shadow: 0 1.25rem 2.5rem 0 rgb(0,0,0, 0.2);
    margin-bottom: 4rem;
    object-fit: cover;
    object-position: top;
}

.title-container {
    font-family: "EB Garamond", serif;
    font-size: 4.375rem;
    color: #0065FF;
    font-weight: bold;
}

.title {

}

.line {
    width: 15rem;
    background-color: #0065FF;
    height: .0625rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.second-line {
    width: 60rem;
    background-color: #0065FF;
    height: .0625rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

/* =========== Experiências ========= */


.experiencies h2 {
    color: #0065FF;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1.5625rem;
}

.experiencies p {
    color: #202020;
    font-size: 1.0625rem;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 3.75rem;
}

.projeto-container {
    display: flex;
    align-items: top;
    justify-content: left;
    margin-bottom: 2.625rem;
}

.projeto {
    background-color: #E5E5E5;
    width: 40rem;
    height: 23.125rem;
}

.projeto-info {
    width: 22.5rem;
    margin-left: 1.5rem;
    font-family: "Be Vietnam Pro", sans-serif;
}

.projeto-titulo {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
}

.projeto-descricao {
    font-size: 1.0625rem;
}

.projeto-link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projeto-link {
    width: 11.25rem;
    height: 3.125rem;
    border-radius: 1.25rem;
    color: #0065FF;
    border: .0625rem solid #0065FF;
    cursor: pointer;
}

@media screen and (max-width: 29.6875rem) {
    header {
        padding-left: 20px;
    }

    .brand {
        font-size: 20px;
        margin: 0;
    }

    .sections {
        display: none;
    }
    
    .facet_sidebar {
      display: none;
    }

    .socials {
      display: none;
    }

    .introducao, .experiencies {
        border: .0625rem solid red;
        width: 350px;
        margin: 4rem;
    }
    
  }